# Launcher code
launcher/bin/

# Jekyll
.sass-cache/
_site/

# Object files
*.o
*.ko
# *.obj # Don't! Could be mistaken with Wavefront object.
*.elf

# Precompiled Headers
# *.gch
# *.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Models
*.fbx
*.skb
*.skp
*.dae

# Fonts
*.ttf
*.fon

# Gamestudio-specific
builds/
status/_sync.bat
status/exclusion.excl
status/log.log

scene/obstacle/
utils-w10/
design/

# General
wdf/main.cd/*
bindings.h
*.ico
*.cfg
*.sav
*.wdf
*.odt
*.odt#
*.bmp
*.tga
*.png
*.wav
*.mp3
*.ogg
*.zip
*.rar
*.txt
*.log
*.jpg
*.pad
*.tif

./progress_temp.txt

# WED
*.pcx
*.$$M
*.$$w
*.bak
*.raw
*.wed
*.wmb
*.wmp
*.$$p
*.wad

# MED
*.mdl
*.hmp

#
!*.html
*.lnk
