# Object files
*.o
*.ko
# *.obj # Don't! Could be mistaken with Wavefront object.
*.elf

# Precompiled Headers
# *.gch
# *.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Gamestudio-specific
dpfl.cd/
builds/
status/_sync.bat
status/exclusion.excl
status/log.log

# General
November.c
bindings.h
*.sav
*.wdf
*.odt
*.bmp
*.tga
*.wav
*.mp3
*.ogg
*.zip
*.rar
*.txt
*.log
*.jpg
*.pad

./progress_temp.txt

# WED
*.pcx
*.$$M
*.$$w
*.bak
*.raw
*.wed
*.wmb
*.wmp
*.$$p
*.wad

# MED
*.mdl
*.hmp

#
!*.html
