# Object files
*.o
*.ko
# *.obj # Don't! Could be mistaken with Wavefront object.
*.elf

# Precompiled Headers
# *.gch
# *.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Gamestudio-specific

# General
*.bmp
*.tga
*.wav
*.mp3
*.ogg
*.zip
*.rar
*.txt
*.log
*.jpg
./status/_sync.bat
./status/exclusion.excl
./status/log.log

./progress_temp.txt

# WED
*.pcx
*.$$M
*.$$w
*.bak
*.raw
*.wed
*.wmb
*.wmp
*.$$p
*.wad

# MED
*.mdl
*.hmp

#
!*.html